.ava {
    height: 100px;
    width: 100px;
}

.users {
    margin: 20px
}

.selectedPage {
    font-weight: bold;
}

.button {
    text-decoration: none;
    color: #dbdcdc;
    background-color: #4d4d4d;
    border-style: solid;
    border-radius: 10px;
    border-color: #4d4d4d;
    margin-left: 2px;
    cursor: pointer
}
.button:active {
    position: relative;
    top: 1px;
}
.userModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
    margin-top: 20px;
}