.header {
    grid-area: h;
    background-image: url('./../../pictures/codeAva.avif');
    background-position: center;
    background-size: cover;
}
.header img {
    width: 35px;
    padding: 5px;
    
}

.loginBlock {
    float: right;
    width: 100px;
    height: 30px;
    background-color: #aa496b;
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: 600;
}
