.header {
    grid-area: h;
    background-color: #8b8b8d;
}
.header img {
    width: 45px;
    padding-left: 10px;
    padding-top: 6px;

}

.loginBlock {
    float: right;
    width: 100px;
    height: 30px;
    background-color: rgb(224, 139, 28);
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: 600;
}
