.image {
    height: 300px;
    width: 1000px;
    object-fit: cover;
    object-position: center;

}

.profileInfo {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: #aa496b;
}

.ava {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}